{% extends "::base.html.twig" %}
{% form_theme form 'ProjetKPretBundle:Form:form_projetK_type.html.twig' %}
{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block contentSection %}
<h3>Ajouter objet</h3>
<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>

{% endblock %}
